<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Template if statment -->
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
</head>
<body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    <!--  Jinja2 templating engine we inherit the entier page from outside this file except this block below in this block we can create a custom design or code or even html page  -->
    {% block content %}{% endblock %}
  </body>
</html>